DB_HOST=localhost
DB_USERNAME=username
DB_PASSWORD=user_password
DB_DATABASE=my-bills
APP_URL=http://145.223.102.12/my-bills

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_ENCRYPTION=tls
MAIL_FROM_ADDRESS=your-email@gmail.com
MAIL_FROM_NAME=My Bills
