
.vscode/
.history/
storage/*
!storage/
!storage/.gitkeep
!storage/async/
storage/async/*
!storage/async/.gitkeep
!storage/async/files/
!storage/async/tmp/
storage/async/files/*
!storage/async/files/.gitkeep
storage/async/tmp/*
!storage/async/tmp/.gitkeep
!storage/sessions/
storage/sessions/*
!storage/sessions/.gitkeep
!storage/logs/
!storage/logs/.gitkeep
env.php
.env
.env.*
!.env.example
