.crm-icon {

    display: inline-block;
    vertical-align: middle;
}

[data-bs-theme="dark"] svg.primary{
    fill: rgba(255, 255, 255, 0.514)!important;
}

[data-bs-theme="dark"] div.menu-active{
    background-color: rgba(255, 255, 255, 0.514)!important;
}

[data-bs-theme="dark"] div.menu-active svg.primary{
    fill: black!important;
}

[data-bs-theme="dark"] svg.success{
    fill: green!important;
}

[data-bs-theme="dark"] svg.fail,[data-bs-theme="dark"] svg.danger{
    fill: red!important;
}


[data-bs-theme="light"] svg.primary{
    fill: black!important;
}

[data-bs-theme="light"] div.menu-active svg.primary{
    fill: blue!important;
}

[data-bs-theme="light"] div.menu-active{
    background-color: rgb(var(--bs-primary-rgb),0.2)!important;
}

[data-bs-theme="light"] svg.success{
    fill: green!important;
}

[data-bs-theme="light"] svg.fail, [data-bs-theme="light"] svg.danger{
    fill: red!important;
}